html {
  width: 100%;
  height: 500px;
  margin-top: 8%;
}
/*
#appLogo {
  margin-left: 47%;
  margin-top: -10%;
}*/

.compLogo {
  box-shadow: 0px 10px 20px #91daff;
}

.loading-section {
  text-align: center;
}

.analyzeSection {
  text-align: center;
  margin-top: 15px;;
}

.form-control {
  text-align: center;
}

.btn-pill {
  margin-top: 10px;
}

.btn-outline-secondary {
  margin-left: 43%;
  margin-top: 2%;
  color: black;
}

.badge-secondary {
  background-color: red;
}

.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.card {
  margin-top: 15px;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #563fff;
}
