html {
  width: 100%;
  height: 500px;
  margin-top: 8%;
}

#appLogo {
  margin-left: 47%;
  margin-top: -10%;
}

.analyzeSection {
  text-align: center;
  margin-top: 3%;
}

.form-control {
  text-align: center;
}

.btn-pill {
  margin-top: 10px;
}

.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #42cef4;
}
